.asset {
	.similar-assets {
		grid-area: body;
		padding: 1em;

		.search-results {
			grid-template-columns: repeat(auto-fill, 15em);
			grid-auto-rows: 16.5em;
		}
	}
	.actions .download {
		grid-template-columns: minmax(11em, 16em);
		align-content: center;
		display: grid;
		gap: .5em;
	}
}

.asset-thumbnail {
	background-size: cover;
}