.site-body {
	display: grid;
	//
	padding: 1em 0;
	justify-content: center;
	display: grid;

	> article {
		display: grid;
		max-width: var(--body-width);
	}

	.page-wrapper {
		display: grid;
	}

	.page-header {
		height: 25em;
		display: grid;
		justify-items: center;
		justify-content: center;
		align-items: center;
		align-content: center;

		gap: 1em;

		> * {
			margin: 0;
		}
	}
}