:root {
	--color-primary: #032224;
	--color-secondary: #106466;
	--color-background: #181A19;
	--color-accent: #808080;

	--heading-color: #FFFFFF;
	--text-color: #FFFFFF;

	--search-background-light: #F4F5F4;
	--search-filter-background-light: #282929;
	--search-filter-background-med: #222222;
	--search-filter-background-dark: #1B1B1B;
}