
$media-medium: 700px;
$media-large: 1220px;

:root {
	--header-width: 98vw;
	--header-height: 4.5em;
	
	--body-width: 92vw;
}

@media (min-width: $media-medium) {
	:root {
		--header-height: 9em;
	}
}
@media (min-width: $media-large) {
	:root {
		--header-width: 1200px;

		--body-width: 1110px;
	}
}

body {
	margin: 0;
}

:root {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;

	* {
		box-sizing: border-box;
	}
}

.body {
	height: fit-content;
	min-height: 100vh;
	display: grid;
	justify-items: center;

	grid-template-rows: var(--header-height) 1fr min-content;

	background-color: var(--color-background);
	color: white;
	margin: 0;
}

.site-header {
	grid-row: 1;
	background-color: var(--color-primary);
	display: grid;
	width: 100%;
	height: 100%;
	padding: .1em calc(calc(100% - var(--header-width)) / 2);
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 3em 1fr 20ch;

	.main-navigation {
		ul {
			display: grid;
			grid-auto-flow: column;
			gap: 2em;
			padding: 0;

			li {
				display: block;
				white-space: nowrap;
			}
			a {
				color: var(--heading-color);
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}

.site-body {
	grid-row: 2;
	width: var(--body-width);
}

.site-footer {
	display: grid;
	grid-row: 3;
	background-color: var(--color-primary);
	width: 100%;
	padding: 0 calc(calc(100% - var(--body-width)) / 2);
	justify-content: center;
	text-align: center;

	.copyright-notice {
		text-align: center;
	}
	.footer-links ul, .social-media ul {
		display: grid;
		grid-auto-flow: column;
		gap: 4em;
		padding: 0;
		justify-content: center;

		li {
			display: block;
		}
	}
}