$media-small: 512px;
$media-medium: 700px;
$media-large: 1220px;

:root {
	--search-width: 100vw;
	--header-height: 4.5em;
	
	--body-width: 92vw;

	--search-tag-column-max: 1;
}

body {
	margin: 0;
}

:root {
	font-size: 16px;
	font-family: "Poppins", sans-serif;

	* {
		box-sizing: border-box;
	}
}

.body {
	height: fit-content;
	min-height: 101vh;
	display: grid;
	grid-template-rows: minmax(var(--header-height), auto) 1fr auto;
	grid-template-areas:
		"header"
		"body"
		"footer";

	background-color: var(--color-background);
	color: white;
	margin: 0;
}

.site-header {
	position: relative;
	grid-area: header;
	background-color: var(--color-primary);
	display: grid;
	justify-content: center;
	align-items: center;
	padding: .5em 2.5em;
	grid-template-rows: 1fr;
	grid-template-columns: 3em 1fr 3em 3em;
	grid-template-areas: 
		"branding name search-button menu-button";

	column-gap: 1.2em;

	.logo {
		margin: 0;
		grid-area: branding;

		.brand {
			display: grid;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
	.site-name {
		grid-area: name;
		margin: 0;
		font-size: 1em;
	}

	.asset-search {
		display: none;
		width: var(--search-width);
		min-height: 4.5em;
		position: fixed;
		z-index: 1;
		top: 0px;
		left: 0px;
	}

	> button {
		font-size: 2em;
		background: none;
		border: none;
		color: white;
		cursor: pointer;

		&:hover {
			filter: drop-shadow(0 0 2px white);
		}
	}

	.account-actions {
		display: none;

		column-gap: 1ch;

		.member-avatar {
			display: grid;
			place-items: center;
			margin: 0;
			width: 2.65em;
			height: 2.65em;
			border-radius: 50%;
			background-color: #106466;
			overflow: hidden;
			grid-template: 
				"icon" 2.65em / 2.65em;

			.ci-user {
				grid-area: icon;
				font-size: 1.25em;
			}
			img {
				width: 100%;
				height: 100%;
				grid-area: icon;
				object-fit: cover;
			}
		}
	}

	.main-navigation {
		display: none;

		&[visible] {
			display: grid;
		}

		position: absolute;
		top: 100%;
		left: 0;
		width: 100vw;
		z-index: 1;

		grid-auto-flow: row;
		
		column-gap: 2em;
		row-gap: 1em;
		margin: 0;
		padding: 1em 2em;

		background-color: inherit;

		li {
			display: block;
			white-space: nowrap;
		}
		a {
			color: var(--heading-color);
			text-transform: uppercase;
			text-decoration: none;
		}
	}

	&.menu-active {
		.account-actions {
			display: grid;
		}
		.main-navigation {
			display: grid;
		}
	}
}

.shade[visible] {
	display: grid;
	content: " ";
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
}

.site-body {
	grid-area: body;
	justify-content: center;
	display: grid;

	> article {
		max-width: var(--body-width);
	}
}

.site-footer {
	display: grid;
	grid-area: footer;
	background-color: var(--color-primary);
	grid-template-columns: auto;
	justify-content: center;
	text-align: center;

	.copyright-notice {
		text-align: center;
	}
	.footer-links ul, .social-media ul {
		display: grid;
		grid-auto-flow: column;
		gap: 4em;
		padding: 0;
		justify-content: center;

		li {
			display: block;
		}
		a {
			color: currentColor;
			text-decoration: none;
		}
	}
	.social-media {
		font-size: 1.5em;
	}
}

@media (min-width: $media-small) {
	:root {
		--search-tag-column-max: 2;
	}
	.site-header .site-name {
		font-size: 1.5em;
	}
}
@media (min-width: $media-medium) {
	:root {
		--header-height: 9em;
		--search-width: 55em;
		--search-tag-column-max: 3;
	}
	.site-header {
		grid-template-rows: minmax(4em, auto) 1fr;
		grid-template-columns: 3.5em minmax(auto, var(--search-width)) auto;
		grid-template-areas: 
			"branding     search      account"
			"navigation navigation navigation";

		.site-name {
			display: none;
		}
		.asset-search {
			display: grid;
			position: relative;
			grid-area: search;
			min-height: 2.6em;
			width: unset;
			margin: .25em 0;
		}
		.account-actions {
			grid-area: account;
			display: grid;
			grid-auto-flow: column;
			white-space: nowrap;
			align-items: center;
		}
		> button {
			display: none;
		}
		.main-navigation {
			position: static;
			display: grid;
			grid-area: navigation;
			justify-self: start;
			grid-auto-flow: column;
			z-index: unset;
			width: unset;
			padding: 0;
		}
	}
	.shade[visible] {
		display: none;
	}
}
@media (min-width: $media-large) {
	:root {
		--body-width: 1110px;
		--search-tag-column-max: 4;
	}
}