@import "search-results";

.asset-search {
	&[visible] {
		display: grid;
	}

	position: relative;
	background: $search-background-light;
	grid-template-columns: 2.6em 1fr auto auto;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"button filters order sort"
		"button input order sort";
	column-gap: .5ch;
	padding: 0 .5em;

	@include normal {
		grid-template-columns: 2.6em minmax(min-content, max-content) minmax(24ch, 1fr) auto auto;
		grid-template-rows: auto;
		grid-template-areas: 
			"button filters input order sort";
	}

	.search-trigger {
		grid-area: button;

		place-self: stretch;
		border: none;
		background: none;
		padding: 0;
		display: grid;
		place-items: center;

		cursor: pointer;

		&:hover {
			filter: drop-shadow(0 0 1px black);
			background: none;
		}
	}
	.search-input {
		grid-area: input;
		border: none;
		background: none;
		min-width: 0px;
		font-family: inherit;
		padding: .75em 0;

		&:focus, &:active {
			outline: none;
		}
	}

	.sort-select { grid-area: sort; }

	.order-select {
		grid-area: order;
		margin: 0;
		display: grid;
		grid-template:
			"ascend descend" auto
			/ 1fr 1fr;

		justify-items: center;
		place-content: center;

		column-gap: .125ch;

		button {
			font-size: 1.25em;
			display: grid;
			border: none;
			background: none;
			padding: 0;
			place-items: center;
			cursor: pointer;

			&.active {
				text-shadow: 0 0 2px currentColor;
			}
			:hover {
				text-shadow: 0 0 4px currentColor;
			}
		}
		.ascend {
			grid-area: ascend;
		}
		.descend {
			grid-area: descend;
		}
	}

	.filter-select {
		border: none;
		background: none;

		&:focus, &:active {
			outline: none;
		}

		option {
			background-color: $search-background-light;
			border: none;
		}
	}
}


.category, .tag, .creator {
	font-size: .75em;
	padding: .3em .7em;
	border-radius: .3em;
	white-space: nowrap;
}

.tag {
	background-color: $filter-tag-light;

	&.active {
		background-color: $filter-tag-dark;
	}
}

.category {
	background-color: $filter-cat-light;

	&.active {
		background-color: $filter-cat-dark;
	}
}

.creator {
	background-color: $filter-creator-light;

	&.active {
		background-color: $filter-creator-dark;
	}
}

.search-filters {
	grid-area: filters;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: .25em;
	row-gap: .2em;

	align-content: center;
	align-items: center;
	padding: .25em 0;
	margin: 0;

	&:empty {
		display: none;
	}

	.tag, .category, .creator {
		display: block;
		padding: .3em .7em;
		border-radius: .3em;
		white-space: nowrap;
	}

	.filter-type {
		text-transform: capitalize;
		color: $white3;

		&::after {
			content: ":";
		}
	}

	.filter-value {
		text-transform: lowercase;
		color: $white4;
	}

	.filter-delete {
		display: inline-block;
		width: 1ch;
		height: 1em;
		margin-left: .5ch;

		&:hover {
			text-shadow: 0 0 3px currentColor;
		}

		&::before {
			content: "x";
		}
	}
}

.asset-search .actions, .search-typeahead-results {
	position: absolute;
	width: 100%;
	top: 100%;
	background: $search-filter-background-light;
	padding: .6em 1.2em;
	border-radius: 0 0 .25em .25em;
	font-size: .8em;
	box-shadow: 0 3px 3px $shadow-light;

	h3 {
		margin: 0 0 1em 0;
		font-size: 1em;
		text-transform: uppercase;
		color: $light-gray2;
	}

	.action-list {
		display: grid;
		grid-auto-flow: row;
		padding: 0;
		margin: 0;
		gap: 1em;
	}
	.action {
		display: block;
		cursor: pointer;

		&.active,
		&.active .action-prefix {
		  color: $filter-tag-light;
		}
	}
	.action-prefix {
		color: $light-gray2;
	}
	.action-description {
		color: $gray3;
	}
}
