.search-page {
	display: grid;
	grid-template-columns: 95vw;
}

.search-results {
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-flow: row;
	justify-content: center;
	gap: 1.25em;
	grid-template-columns: repeat(auto-fill, 22em);
	grid-auto-rows: 22.5em;
}

.asset-card {
	position: relative;
	display: grid;
	justify-content: normal;
	grid-template-rows: 4fr 1fr;
	grid-template-areas:
		"thumbnail"
		"meta";

	background-color: rgba(255, 255, 255, 0.07);
	border-radius: .8em;
	overflow: hidden;
	box-shadow: 0 0 5px black;

	.link {
		grid-area: thumbnail;
	}
	.thumbnail {
		grid-column: thumbnail-start / thumbnail-end;
		grid-row: thumbnail-start / -1;
		background: #ccc;
		background-image: var(--asset-thumbnail);
		background-size: cover;
		background-position: center;
		pointer-events: none;
	}
	.meta {
		grid-area: meta;
		background-color: #333A;
		box-shadow: 0px 0px 5px 5px #333A;
		padding: .3em 1.25em;
		display: grid;
		align-items: center;
		align-content: start;
		row-gap: .5em;
		grid-template-rows: auto auto 1fr;
		grid-template-columns: auto auto;
		grid-template-areas: 
			"title title"
			"author price"
			"description description";

		.title {
			grid-area: title;
			margin: 0;
			font-size: 1.1em;
			color: hsl(0deg, 0%, 87%);

			a {
				color: currentColor;
				text-decoration: none;
			}
		}
		.author {
			grid-area: author;
			margin: 0;
			font-size: 1em;
			font-weight: normal;
			white-space: nowrap;

			.author-label {
				color: hsl(0deg, 0%, 87%);
			}
			a {
				color: #1AA9C9;
				text-decoration: none;
			}
		}
		.pricing {
			margin: 0;
			grid-area: price;
			justify-self: end;
			white-space: nowrap;
			
			h4 { margin: 0 }
			.coin-price {
				//.amount { }
				.currency {
					text-transform: uppercase;
				}
			}
		}
		.description {
			display: none;
			grid-area: description;
			align-self: start;
		}
		.search-meta {
			display: none;
		}
	}
	.asset-action {
		position: absolute;
		top: .3em;
		right: .3em;
		margin: 0;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: .3em;
		padding: .3em;
		line-height: 1em;

		.download-format {
			display: none;
			background: none;
			border: none;
			color: currentColor;

			option {
				background: rgba(0, 0, 0, 0.4);
			}
		}
		:hover .download-format {
			display: inline-block;
		}
		.button {
			padding: 0;
			background-color: unset;
		}
	}

	&:hover {
		grid-template-rows: 1fr auto;

		.meta {
			padding: 1em 1.25em;
			background-color: #333E;
			box-shadow: 0px 0px 2px 2px #333E;
		}
		.description {
			display: grid;
		}
	}
}