.search-page {
	display: grid;
	grid-template-columns: 95vw;
}

.search-results {
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-flow: row;
	justify-content: center;
	gap: 1.25em;

	--columns: auto-fill;
	--col-width: 22em;

	grid-template-columns: repeat(var(--columns), var(--col-width));
	grid-auto-rows: calc(var(--col-width) * 1.05);
}

.asset-card {
	position: relative;
	display: grid;
	justify-content: normal;
	grid-template-rows: 4fr 1fr;
	grid-template-areas:
		"thumbnail"
		"meta";

	background-color: $asset-card-background;
	border-radius: .8em;
	overflow: hidden;
	box-shadow: 0 0 5px black;

    &.selected {
		box-shadow: 0px 0px 15px $main-teal;

		.meta, &:hover .meta {
			background: $main-teal;
		}
    }

    /* A user is click-dragging over an area and his higlighting
     * this asset card. If they let go now this card will be selected.
     */
    &.ds-hover {
      box-shadow: 0px 0px 3px $main-teal;
    }

	.link {
		grid-area: thumbnail;
	}
	.thumbnail {
		grid-column: thumbnail-start / thumbnail-end;
		grid-row: thumbnail-start / -1;
		background: $gray;
		background-image: var(--asset-thumbnail);
		background-size: cover;
		background-position: center;
		pointer-events: none;
	}
	.meta {
		grid-area: meta;
		background-color: $asset-card-meta;
		box-shadow: 0px 0px 5px 5px $asset-card-meta;
		padding: .5em 1.25em;
		display: grid;
		align-items: center;
		align-content: start;
		row-gap: .5em;
		column-gap: .5ch;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"title title"
			"author price";

		.title {
			grid-area: title;
			margin: 0;
			font-size: 1.1em;
			color: hsl(0deg, 0%, 87%);

			a {
				color: currentColor;
				text-decoration: none;
			}
		}
		.author {
			grid-area: author;
			overflow: hidden;

			.author-name {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		.pricing {
			margin: 0;
			grid-area: price;
			justify-self: end;
			align-self: end;
			white-space: nowrap;
			text-align: center;
			font-size: .9em;
			display: grid;
			gap: .5em;

			h4 { margin: 0 }
			.coin-price {
				//.amount { }
				.currency {
					text-transform: uppercase;
				}
				&:hover .icon:before {
					content: "lock_open";
					color: $cta-blue-dark;
				}
			}

			.amount::after {
				position: relative;
				top: .3em;
				content: url(~/assets/two-coins.svg);
				height: 1.5em;
				width: 1.5em;
				display: inline-grid;
				margin-left: .2ch;
			}

			.icon { font-size: 1.2em; }
			.icon:before {
				position: relative;
				top: .15em;
				content: "lock";
				color: $cta-blue-light;
			}

			.asset-download button {
				margin: 0;
				padding: 0;
				background-color: unset;
				display: inline;
				text-shadow: none;
				&:hover { text-shadow: none; }
			}
		}
		.description {
			display: none;
			grid-area: description;
			align-self: start;
		}
		.search-meta {
			grid-area: tags;
			display: none;
			column-gap: 0.25em;
			row-gap: 0.2em;
		}
		.search-meta, .author {
			margin-left: -.3em;
		}
	}
	.asset-actions {
		position: absolute;
		top: .3em;
		right: .3em;
		margin: 0;
		display: grid;
		grid-auto-flow: column;
		gap: .2em;
	}

	.asset-action {
		background-color: $action-bg;
		border-radius: .3em;
		padding: .3em;
		line-height: 1em;
	}

	.asset-download {
		.download-format {
			display: none;
			visibility: hidden;
			background: none;
			border: none;
			color: currentColor;
			padding: 0px;
			cursor: pointer;

			option {
				background: $action-bg;
			}
		}
		&:hover .download-format {
			visibility: visible;
		}
		.button {
			color: $cta-blue-light;
			font-size: 1.2em;
			&:hover {
				color: $cta-blue-dark;
			}
		}
		.button, &:hover .button {
			padding: 0;
			background-color: unset;
		}
	}

	&:hover {
		grid-template-rows: 1fr auto;

		.meta {
			//padding: 1em 1.25em;
			background-color: $asset-card-meta-dark;
			box-shadow: 0px 0px 2px 2px $asset-card-meta-dark;
			grid-template-rows: auto auto 1fr;
			grid-template-areas:
				"title title"
				"author author"
				"description description"
				"tags price";
		}
		.description {
			display: grid;
		}
		.search-meta {
			display: grid;
		}
		.asset-download .download-format {
			display: inline-grid;
		}
	}
}
