.asset-search {
	&[visible] {
		display: grid;
	}

	position: relative;
	background: var(--search-background-light);
	grid-template-columns: 2.6em minmax(min-content, max-content) minmax(16ch, 1fr) 6ch 6ch;
	grid-template-areas: 
		"button filters input sort order";
	gap: .5ch;

	.search-filters {
		grid-area: filters;
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(var(--search-tag-column-max), auto);
		grid-auto-rows: 1.6em;
		justify-items: center;
		column-gap: .25em;
		row-gap: .2em;

		align-content: center;
		align-items: center;
		padding: .25em 0;
		margin: 0;

		&:empty {
			display: none;
		}
		

		li {
			font-size: .75em;
			background-color: #1AA9C9;
			padding: .3em .7em;
			border-radius: .3em;
			display: block;
			white-space: nowrap;
			
			&.active {
			  background-color: #106466;
			}
		}
		.filter-type {
			text-transform: capitalize;
			color: #EEE;

			&::after {
				content: ":";
			}
		}
		.filter-value {
			text-transform: lowercase;
			color: #DDD;
		}
		.filter-delete {
			display: inline-block;
			width: 1ch;
			height: 1em;
			margin-left: .5ch;

			&:hover {
				text-shadow: 0 0 3px currentColor;
			}
			&::before {
				content: "x";
			}
		}
	}
	.search-input {
		grid-area: input;
		border: none;
		background: none;
		min-width: 0px;

		&:focus, &:active {
			outline: none;
		}
	}
	
	.sort-select { grid-area: sort; }
	.order-select { grid-area: order; }

	.filter-select {
		border: none;
		background: none;

		&:focus, &:active {
			outline: none;
		}

		option {
			background-color: var(--search-background-light);
			border: none;
		}
	}
	.search-trigger {
		grid-area: button;

		place-self: stretch;
		border: none;
		background: none;
		padding: 0;
		display: grid;
		place-items: center;
		margin-left: .5em;

		cursor: pointer;

		&:hover {
			filter: drop-shadow(0 0 1px black);
		}
	}
}

.actions {
	position: absolute;
	width: 100%;
	top: 100%;
	background: var(--search-filter-background-light);
	padding: .6em 1.2em;
	border-radius: 0 0 .25em .25em;
	font-size: .8em;

	h3 {
		margin: 0 0 1em 0;
		font-size: 1em;
		text-transform: uppercase;
		color: #C0C0C5;
	}

	.action-list {
		display: grid;
		grid-auto-flow: row;
		padding: 0;
		margin: 0;
		gap: 1em;
	}
	.action {
		display: block;
		
		&.active {
		  color: #1AA9C9;
		}
	}
	.action-prefix {
		color: #C0C0C5;
	}
	.action-description {
		color: #828282;
	}
}