/* SCSS */

.form-group {
  margin: 0 0 1em 0;

  .form-label {
    display: block;
    font-weight: bold;
  }

  input[type=text],
  input[type=password] {
    padding: 0.5em;
    display: block;
    width: 100%;
  }
}
