* {
	margin: 0;
	padding: 0;
}

@import "variables";

@import "media-queries";

@import "material-icons";

@import "buy";
@import "base-page";
@import "upload";
@import "search";
@import "modal";
@import "controls";
@import "item-page";
@import "asset";
@import "bundle";
@import "bundles";
@import "tables";
@import "toasts";
@import "layout";
@import "asset";
@import "user";
@import "loading-bar";

/* SCSS */

.home-page {
	.page-header img {
		min-width: 50vw;
		max-width: 95vw;
	}
}

.pagination {
	ol {
		display: grid;
		grid-auto-flow: column;
		gap: 1ch;
		padding: 0;
		margin: 0;

		li {
			display: grid;
		}
		a {
			color: currentColor;
		}
	}
}
.body {
	::-webkit-scrollbar,
	::-webkit-scrollbar-track,
	::-webkit-scrollbar-track-piece {
		background-color: $black8;
	}
	::-webkit-scrollbar-thumb {
		background-color: $black-teal;
		border: 1px solid darken($black-teal, 5);
	}
}

[role="loading-container"] {
	display: grid;
}

.tag-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 0.25em;
	row-gap: 0.2em;
}

.author {
	display: flex;
	gap: .4ch;
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	white-space: nowrap;
	align-items: center;

	.author-label {
		color: hsl(0deg, 0%, 87%);
	}

	.author-avatar {
		display: inline-block;
		background: center center no-repeat;
		background-size: cover;
		border-radius: 0.15em;
		overflow: hidden;
		margin: 0 0.1em;
		width: 1em;
		height: 1em;
	}

	a {
		color: $a-href;
		text-decoration: none;
	}
}
.category, .tag {
	display: inline-grid;
}

.sign-of-life {
	display: grid;

	opacity: .85;

	place-items: center;

	$size: 16em;

	width: $size;
	height: $size;
	top: calc(50vh - #{$size / 2});
	left: calc(50vw - #{$size / 2});
	border-radius: 50%;

	$padding: $size / 5;
	padding: $padding;

	$inner-size: $size - $padding * 2;

	grid-template-rows: $inner-size 1em;
	gap: .5em;

	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5em black;

	margin: 2em auto;
	place-self: center;

	cursor: progress;

	&.main-sol {
		&:not([visible]) { display: none; }

		position: fixed;
		z-index: 10;

		background: black;

		box-shadow:
			0 0 10em black,
			0 0 10em black,
			0 0 10em black,
			0 0 10em black,
			0 0 10em black;
	}

	figcaption {
		width: $inner-size;
		font-size: .8em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}
}
