.toast-msgs {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1001;

  display: grid;
  justify-items: end;
  gap: .5em;

  .toast-msg {
    padding: .5em .75em;
    border-radius: .5em;
    background: $main-teal;
    color: white;
    box-shadow: 0 0 .6em .05em black;

    &.success {
      background: $cta-blue-light;
    }

    &.danger {
      background: $red;
    }
  }
}
